body {
    text-align: center;
    background: hsl(196, 68%, 90%);
}

#user-ribbon {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    position:sticky;
    top: 2px;
    background: lightblue;
    width: 84vw;
}
#btn-logout {
    font-size: large;
    background: rgb(96, 96, 245);
    color: white;
    height: 40px;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.course-card {
    display:block;
    width: 40vw;
    margin: 1vw;
    min-width: 200px;
    flex: 0 0 auto;
    border: 2px solid darkcyan;
    box-shadow: 1px 2px 2px darkgray;
}
.course-card:hover {
    background: lightblue;
    box-shadow: 3px 5px 5px darkgray;
}
.topic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topic-card {
    display:block;
    width: 40vw;
    margin: 1vw;
    min-width: 200px;
    flex: 0 0 auto;
    border: 2px solid darkcyan;
    box-shadow: 1px 2px 2px darkgray;
}
.topic-card:hover {
    background: lightblue;
    box-shadow: 3px 5px 5px darkgray;
}
.hide {
    display:none;
}